@require './code'
@require './dark_index'
@require './wapper'
@require './animeAction'
@require './coustom_block'
html, body
  padding: 0
  margin: 0
body
  font-family: Helvetica, sans-serif
  font-size: 16px
  .Page
    @extend $wrapper
  .Guide, .Collect
    @extend $util-wapper
a
  text-decoration: none
  color: $abyss_textColor
  transition-property: color
  transition-duration: 0.2s
ul, ol
  padding-left: 1.2em
code, kbd, .line-number
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
p, ul, ol
  line-height: 1.7rem
strong
  font-weight: bold
hr
  border: 0
  border-top: 1px solid $abyss_bgColor
.sketch-amine
  span
    display: inline-block
    overflow: hidden
    i
      position: relativ
      display: block
      transform: translateY(100%)
      font-style: normal
      animation: sketchAmine 0.3s ease-in-out forwards
      animation-delay: var(--i)
