
// 亮模式
// 强调颜色
$abyss_accentColor = #3eaf7c
// 文字颜色
$abyss_textColor = #2c3e50
// 主-背景颜色
$abyss_bgColor = #eaecef
// 深-背景颜色
$abyss_deepBgColor = #ccc
// 代码背景颜色
$abyss_codeBgcolor = #282c34
// 白色
$abyss_whiteColor = #fff
// ---------------------------------
// 暗模式
// 强调颜色
$abyss_dark_accentColor = #3eaf7c
// 导航栏颜色
$abyss_dark_navColor = #242526
// 文字颜色
$abyss_dark_textColor = #f1f1f1
// 主-背景颜色
$abyss_dark_bgColor = #eaecef
// 深-背景颜色
$abyss_dark_deepBgColor = #ccc
// 代码背景颜色
$abyss_dark_codeBgcolor = #282c34
// 白色
$abyss_dark_whiteColor = #18191A
// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px
// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px